/include/ "system-conf.dtsi"

/ {
	model = "Zynq ALINX Development Board";
	compatible = "alinx,zynq", "xlnx,zynq-7000";
	aliases {
		ethernet0 = "&gem0";
		serial0 = "&uart1";
	};

	usb_phy0: usb_phy@0 {
		compatible = "ulpi-phy";
		#phy-cells = <0>;
		reg = <0xe0002000 0x1000>;
		view-port = <0x0170>;
		drv-vbus;
	};


};

&i2c0 {
	clock-frequency = <100000>;
	alinx_an071@5D {  				
		compatible = "alinx,an071"; 
 		reg = <0x5D>;  
		interrupt-parent = <&intc>;
 		interrupts = <0 29 4>;
	}; 
};


&usb0 {
	dr_mode = "host";	
	usb-phy = <&usb_phy0>;
};

&sdhci0 {
	u-boot,dm-pre-reloc;
};

&uart1 {
	u-boot,dm-pre-reloc;
};


&flash0 {
	compatible = "micron,m25p80", "w25q256", "spi-flash";
};


&gem0 {
	phy-handle = <&ethernet_phy>;
	ethernet_phy: ethernet-phy@1 {
		reg = <1>;
		device_type = "ethernet-phy";
	};
};



&amba_pl {

	ax_lcd_encoder {
		compatible = "ax-drm-encoder";

		clocks = <&axi_dynclk_0>;
		clock-names = "clk";

		port@0 {
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
			hdmi_ep: endpoint {
				remote-endpoint = <&pl_disp_ep>;
			};
		};
	};
	
	xlnx_pl_disp {
		compatible = "xlnx,pl-disp";
		dmas = <&axi_vdma_0 0>;
		dma-names = "dma0";

		xlnx,vformat = "AR24";
		xlnx,bridge = <&v_tc_0>;

		port@0 {
			reg = <0>;
			pl_disp_ep: endpoint {
				remote-endpoint = <&hdmi_ep>;
			};
		};
	};


	
};
&axi_dynclk_0 {
	compatible = "dglnt,axi-dynclk";
	#clock-cells = <0>;
	clocks = <&clkc 15>;
};
&v_tc_0 {
	compatible = "xlnx,bridge-v-tc-6.1";
	xlnx,pixels-per-clock = <1>;
};


